# Mac OS X
.DS_Store

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules/

# DotEnv
.env

# Compiled output
build
dist

# Logs
npm-debug.log*
